
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>


<h3 id="basicHeader" class="first">Basic</h3>
colorEditable {{colorEditable}}

<div class="sme-toolbar">
  <div class="icon-bar">
    <a title="home" href="#"><i class="fa fa-home"></i></a>
    <a href="#"><i class="fa fa-search"></i></a>
    <a href="#"><i class="fa fa-envelope"></i></a>
    <a title="trash" href="#"><i class="fa fa-trash"></i></a>
  </div>
</div>


<p-dataTable [value]="cars" [editable]="true" (onEditComplete)="folderEditComplete()">
    <p-column field="vin" header="Vin"></p-column>
    <p-column field="year" header="Year"></p-column>
    <p-column field="brand" header="Brand"></p-column>
    <!-- <p-column field="color" header="Color" [editable]="colorEditable"></p-column> -->
    
    <p-column field="test" [editable]="isEditable">
      <ng-template let-row="rowData" let-col pTemplate="body">
           <span>
              <input type="button" value="Edit" (click)="edit(row, col)" />
           </span>
      </ng-template>
    </p-column>

    <p-column field="color" [editable]="colorEditable" header="ModuleID">
      <ng-template let-row="rowData" pTemplate="body">
          <div *ngIf="!colorEditable">{{row.color}}</div>
          <div *ngIf="colorEditable">
            <input type="text" [(ngModel)]="row.color">
          </div>
      </ng-template>
  </p-column>
</p-dataTable>
